[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "https://mint-index.netlify.app/*"
  to = "https://nodeworks.art/:splat"
  status = 301
  force = true

[[redirects]]
  from = "https://networkednodes.art/*"
  to = "https://nodeworks.art/:splat"
  status = 301
  force = true
